@page{
    margin:0;
}

body{
    background-color: cmyk(0,0,0,0); /* #FFFFFF; */
}



/* ---------------------------------------------- */
/* Coeficiente x 1.5874 ------------------------- */
/* ---------------------------------------------- */
.glifo{
    color: cmyk(0,0,0,1); /* #000000; */
    display:block;
    font-family:'Lato', sans-serif;
    font-size:34.5pt;
    font-weight:normal; /* 400 normal - 800 bold */
    line-height:28.844pt;
    position:absolute;
    text-align:left;
    z-index:1;
}

.bold{
    font-weight:bold;
}


/* Rotulo --------------------------------------- */
.rotulo{
    color: cmyk(0,0,0,1); /* #000000; */
    display:block;
    font-family:'Rosario', sans-serif;
    font-size:9.52pt;
    font-weight:normal;
    letter-spacing:-0.012pt;
    line-height:9.52pt;
    position:absolute;
    text-align:left;
    white-space:nowrap;
    z-index:1;
}