@page{
    margin:0;
}

body{
    background-color: cmyk(0,0,0,0); /* #FFFFFF; */
}



/* ---------------------------------------------- */
/* Coeficiente x 1.5874 ------------------------- */
/* ---------------------------------------------- */
.glifo{
    color: cmyk(0,0,0,1); /* #000000; */
    display:block;
    font-family:'Lato', sans-serif;
    font-size:34.5pt;
    font-weight:bold; /* 300 normal - 400 bold */
    line-height:28.844pt;
    position:absolute;
    text-align:left;
    z-index:1;
}


/* Rotulo --------------------------------------- */
.rotulo{
    color: cmyk(0,0,0,1); /* #000000; */
    display:block;
    font-family:'Rosario', sans-serif;
    font-size:9pt;
    font-weight:normal;
    line-height:7.32pt;
    position:absolute;
    text-align:left;
    white-space:nowrap;
    z-index:1;
}